*{
}
BODY
{
	background-color:#efefef;
	overflow:auto;
	font-size: 8pt; 
	font-family: Verdana;
}
.BlackA A		
{
	color:blue;
	text-decoration: none;
}
.BlackA A:hover
{
	color:blue;
	text-decoration: none;
}

.BlackA A:active
{
	color:blue;
	background-color:Gainsboro;
	text-decoration: none;
}

H3
{
	font-weight: bold;
	font-size: 10pt; 
	margin: 0px;
}
TABLE
{
	background-color:#efefef;
	overflow:auto;
	font-size: 8pt; 
	font-family: Verdana;
}
.BlackA A		
{
	color:blue;
	text-decoration: none;
}
.BlackA A:hover
{
	color:blue;
	text-decoration: none;
}

.BlackA A:active
{
	color:blue;
	background-color:Gainsboro;
	text-decoration: none;
}

H3
{
	font-weight: bold;
	font-size: 10pt; 
	margin: 0px;
}


