* { }

BODY {
    background-color: #efefef;
    font-family: Verdana;
    font-size: 8pt;
    overflow: auto;
}

.BlackA A {
    color: blue;
    text-decoration: none;
}

.BlackA A:hover {
    color: blue;
    text-decoration: none;
}

.BlackA A:active {
    background-color: Gainsboro;
    color: blue;
    text-decoration: none;
}

H3 {
    font-size: 10pt;
    font-weight: bold;
    margin: 0px;
}

TABLE {
    background-color: #efefef;
    font-family: Verdana;
    font-size: 8pt;
    overflow: auto;
}

.BlackA A {
    color: blue;
    text-decoration: none;
}

.BlackA A:hover {
    color: blue;
    text-decoration: none;
}

.BlackA A:active {
    background-color: Gainsboro;
    color: blue;
    text-decoration: none;
}

H3 {
    font-size: 10pt;
    font-weight: bold;
    margin: 0px;
}