[submodule "Kesco.Lib.Web.Controls.V4"]
	path = Kesco.Lib.Web.Controls.V4
	url = https://github.com/Kesco-m/Kesco.Lib.Web.Controls.V4.git
[submodule "Kesco.Lib.BaseExtention"]
	path = Kesco.Lib.BaseExtention
	url = https://github.com/Kesco-m/Kesco.Lib.BaseExtention.git
[submodule "Kesco.Lib.Convert"]
	path = Kesco.Lib.Convert
	url = https://github.com/Kesco-m/Kesco.Lib.Convert.git
[submodule "Kesco.Lib.DALC"]
	path = Kesco.Lib.DALC
	url = https://github.com/Kesco-m/Kesco.Lib.DALC.git
[submodule "Kesco.Lib.Entities"]
	path = Kesco.Lib.Entities
	url = https://github.com/Kesco-m/Kesco.Lib.Entities.git
[submodule "Kesco.Lib.Localization"]
	path = Kesco.Lib.Localization
	url = https://github.com/Kesco-m/Kesco.Lib.Localization.git
[submodule "Kesco.Lib.Log"]
	path = Kesco.Lib.Log
	url = https://github.com/Kesco-m/Kesco.Lib.Log.git
[submodule "Kesco.Lib.Web.DBSelect.V4"]
	path = Kesco.Lib.Web.DBSelect.V4
	url = https://github.com/Kesco-m/Kesco.Lib.Web.DBSelect.V4.git
[submodule "Kesco.Lib.Web.Settings"]
	path = Kesco.Lib.Web.Settings
	url = https://github.com/Kesco-m/Kesco.Lib.Web.Settings.git
[submodule "Kesco.Lib.Web.SignalR"]
	path = Kesco.Lib.Web.SignalR
	url = https://github.com/Kesco-m/Kesco.Lib.Web.SignalR.git
[submodule "_Assemblies"]
	path = _Assemblies
	url = https://github.com/Kesco-m/_Assemblies.git
