<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <configSections>
    <section name="likeSettings" type="Kesco.Lib.Web.Controls.V4.Handlers.LikeConfigurationSectionHandler, Controls.V4" />
  </configSections>
  <appSettings>
    <add key="AppName" value="Тарификация: Мобильная связь V4" />
    <add key="Version_V4_JS" value="VN" />
    <add key="owin:AppStartup" value="Kesco.Lib.Web.SignalR.Startup" />
  </appSettings>
  <likeSettings>
    <like formName="Default.aspx" likeId="TMP_20191023"/>
    <like formName="Details.aspx" likeId="TMP_Details_20191023"/>
  </likeSettings>
  <system.web>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpRuntime targetFramework="4.5.2" />
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <handlers>
      <add name="aspx" path="*.aspx" verb="*" type="Kesco.Lib.Web.Controls.V4.Handlers.PageHandler, Controls.V4" resourceType="Unspecified" />
      <add name="DialogResult" verb="*" path="DialogResult.ashx" type="Kesco.Lib.Web.Controls.V4.Handlers.DialogResultHandler, Controls.V4" resourceType="Unspecified" />
      <add name="SignalView" verb="*" path="SignalView.ashx" type="Kesco.Lib.Web.Controls.V4.Handlers.SignalRHubHandler, Controls.V4" resourceType="Unspecified" />
    </handlers>
  </system.webServer>
</configuration>
