<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appSettings>
    <add key="AppName" value="Тарификация: Мобильная связь V4" />   
  </appSettings> 
  <system.web>    
    <httpHandlers>
      <add path="*.aspx" verb="*" type="Kesco.Lib.Web.Controls.V4.Handlers.PageHandler" />
      <add verb="*" path="DialogResult.ashx" type="Kesco.Lib.Web.Controls.V4.Handlers.DialogResultHandler" />
      <add verb="*" path="Comet.ashx" type="Kesco.Lib.Web.Comet.CometAsyncHandler" />
      <add verb="*" path="CometView.ashx" type="Kesco.Lib.Web.Controls.V4.Handlers.CometServerHandler" />
    </httpHandlers>
    <compilation debug="true" targetFramework="4.0"/>    
    <authentication mode="Windows"/>    
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID"/>
    <globalization requestEncoding="utf-8" responseEncoding="utf-8" />
  </system.web>
</configuration>